body {
    padding: 0;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
  }
  
  .navbar {
    display: flex;
    text-decoration: none;
    border-style: groove;
    margin-top: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    padding-left: 900px;
  }
  
  nav ul li {
    padding-right: 60px;
    font-size: 20px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  #logo {
    margin-top: 15px;
    font-size: x-large;
    margin-left: 20px;
  }
  .John{
      color: rgb(247, 103, 127);
  }

  .para{
    font-size: 80px;
 }
  
 .row{
    display: flex;
    margin-top: 200px;
 }

 .column{
    display: flex;
    flex: 50%;
    margin-left: 500px;
 }

 p{
    font-size: 20px;
    margin-bottom: 10px;

 }
 .column1{
   margin-left: 50px;
 }

 button{
    background-color: rgb(250, 79, 107);
    color: white;
    font-size: 30px;
    border-radius: 10px;
    border-color: rgb(250, 79, 107);
    margin-right: 40px;
    padding: 10px;
 }

 .social{
    display: flex;
    margin-right: 60px;
    margin-top: 20px;
 }
 .image{
    border: solid 2px black;
    border-radius: 5px;
    margin-right: 20px;
    width: 50px;
 }